* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(45, 45, 46);
    color: #ffffff;
    font-size: 1em;
    
}

a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    padding: 2rem;
    overflow: hidden;
}

.slider-wrapper {
    max-width: 50rem;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    width: 500%;
    display: flex;
    overflow: hidden;
   margin-bottom: 1rem;
}

.slider-item{
    width: 20%;
}
.slider-img {
    max-width: 100%;
    border-radius: 3%;
}
.nav-container {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    gap: 0.5rem;
}



.messages-wrapper{
    height: 1em;
    overflow: hidden;
}

.messages-item {}

input[type=radio] {
    display: none;
}
.toggle-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.1rem;
    height: 1.1rem;
    cursor: pointer;
}
.toggle {
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #79e233;
    cursor: pointer;
}

.toggle:hover{
    background-color: rgb(45, 45, 46);
    border: 1px solid #79e233;
    transition: background-color 0.7s , border 0.7s;
}
/* изменение цвета переключателя */
#msg1:checked ~ .nav-container .navigation .toggle1{
    background-color: #ffffff;
}
#msg2:checked ~ .nav-container .navigation .toggle2{
    background-color: #ffffff;
}
#msg3:checked ~ .nav-container .navigation .toggle3{
    background-color: #ffffff;
}
#msg4:checked ~ .nav-container .navigation .toggle4{
    background-color: #ffffff;
}
#msg5:checked ~ .nav-container .navigation .toggle5{
    background-color: #ffffff;
}

.wrap1:hover > .toggle,
.wrap2:hover > .toggle,
.wrap3:hover > .toggle,
.wrap4:hover > .toggle,
.wrap5:hover > .toggle{
    background-color: rgb(45, 45, 46);
    border: 1px solid #79e233;
    transition:  background-color 0.7s;
}

/* изменение слайдов */

#msg1:checked ~ .slider {
    margin-left: 0;
    transition: margin-left 0.7s
}
#msg2:checked ~ .slider {
    margin-left: -100%;
    transition: margin-left 0.7s
}
#msg3:checked ~ .slider {
    margin-left: -200%;
    transition: margin-left 0.7s
}
#msg4:checked ~ .slider {
    margin-left: -300%;
    transition: margin-left 0.7s
}
#msg5:checked ~ .slider {
    margin-left: -400%;
    transition: margin-left 0.7s
}

/* изменение текста */

#msg1:checked ~ .nav-container .messages {
    margin-top: 0;
    transition: margin-top 0.7s;
} 
#msg2:checked ~ .nav-container .messages {
    margin-top: -1.3rem;
    transition: margin-top 0.7s;
} 
#msg3:checked ~ .nav-container .messages {
    margin-top: -2.4rem;
    transition: margin-top 0.7s;
} 
#msg4:checked ~ .nav-container .messages {
    margin-top: -3.5rem;
    transition: margin-top 0.7s;
} 
#msg5:checked ~ .nav-container .messages {
    margin-top: -4.6rem;
    transition: margin-top 0.7s;
}
@media screen and (max-width: 640px){
    .nav-container {
        flex-direction: column;
        align-items: center;
    }
    .messages-wrapper{
        order: 1;
        align-self: flex-start;
    }
    .navigation{
    margin-bottom: 1rem;
    }

}